{box-sizing: border-box;}
.caption-bottom {
  width: 400px;
  margin: 50px auto 0;
  position: relative;
  border: 1px solid hsla(21, 37%, 15%, 0.3);
}
.caption-bottom img {
  max-width: 100%;
  height: auto;
  display: block;
}
.caption-bottom h2 {
  margin: 0;
  position: absolute;
  line-height: 1.1;
  font-size: 1.2em;
  font-weight: 200;
  left: 0;
  bottom: 0;
  padding: 6px 20px 6px 10px;
  background: hsla(21, 37%, 15%, 0.2);
  color: white;
}
.date {
  font-family: "Open Sans", sans-serif;
  font-size: .7em;
}